body {
	background-color: #2A3235;
}
  
h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	padding-top: 0%;
}

h2 {
	color: #2A3235;
	text-align: center;
	font-size: 300%;
	padding-top: 0%;
	margin-left: auto;
	margin-right: auto;
}
  
p {
	font-family: verdana;
	font-size: 20px;
	color: white;
}

select {
	width:10%;
	text-align: center;
	font-size: 1.5em;
	margin-top: 3%;
	margin-bottom: 3%;
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.new-center {
	text-align: center;
}

.vertical-center {
	margin: 0;
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
}
