body {
	background-color: #2A3235;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	padding-top: 0%;
}

h2 {
	color: #2A3235;
	text-align: center;
	font-size: 300%;
	padding-top: 0%;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-family: verdana;
	font-size: 20px;
	color: white;
}

select {
	width:20%;
	text-align: center;
	font-size: 1.5em;
	margin-top: 3%;
	margin-bottom: 3%;
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.new-center {
	text-align: center;
}

.vertical-center {
	margin: 0;
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
}

.ppv-item {
	border: .25em solid red;
	padding-top: .5em;
	padding-bottom: .25em;
	border-color: red;
	white-space: pre-wrap;
}

.roster-div button {
	width: 100%;
	height: 5%;
	display: block;
	margin: 0 auto;
	margin-bottom: .5em;

	font-weight: bold;
	font-size: 125%;
}

.roster-div {
	background-color: goldenrod;
	width: 50%;
	float: left;

	text-align: center;
	align-items: center;

	overflow-y: scroll;
	padding: 1em 0;
	height: 50em;
}

.wrestler-div {
	background-color: lightcoral;
	width: 50%;
	float: right;

	overflow-y: scroll;
	padding: 1em 0;
	height: 50em;
}

.roster-container {
	margin-top: 2em;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.filter-container {
	display: block;
	padding-top: .5em;
	align-items: center;
	align-content: center;
	text-align: center;
}